:root {
    /* Define colors  */
    --main-red: #F23D3D;
    --button-color: #DD272D;
    --nav-blue: #292E3B;
    --body-blue: #1d1f2d;

}

@font-face {
    font-family: WorkSans;
    src: url(/fonts/Work_Sans/static/WorkSans-ExtraLight.ttf);
}

body {
    background-color: var(--body-blue);
    font-family: WorkSans;
}

.navbar-container {
    background-color: var(--nav-blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6.85vw;

    box-shadow: var(--main-shadow);


}

.logo_link {
    position: absolute;
    z-index: 7;
    left: 12.5vw;
    bottom: .3vw;

}


.logo_img, .logo_img2 {
    height: 100%;
    width: 5.8vw;

}

.logo_img2 {
    position: relative;
    top: .6vw;
}

.site-title {
    font-size: 1.2vw;
}

.site-title>.accueil, .site-title>.nos-services {
    margin: 1.5vw;

}


a:link, a:visited, .demande-devis {
    text-decoration: none;
    color: aliceblue;
}

a:hover, a:active {

    color: rgb(242, 61, 61);

}

ul {
    position: relative;
    top: .5vw;
    left: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    list-style-type: none;
}

.demande-devis {
    position: relative;
    right: 17.5vw;
    background-color: var(--button-color);
    font-size: 1vw;
    font-weight: 800;
    border-radius: 5vw;
    border-color: transparent;
    width: 11.5vw;
    padding: .4vw 0;

    transition: background-color .3s;
}

.demande-devis:hover {
    background-color: rgb(231, 123, 123);
}