@font-face {
    font-family: WorkSansSB;
    src: url(/fonts/Work_Sans/static/WorkSans-SemiBold.ttf);
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 39vw;


}

.carousel-container {
    background-image: url("/img/2403854036464d9aa4829d6be3f8ea77.jpg");
    background-repeat: no-repeat;
}

.carousel-opacity {
    background-color: #1b23389f;
    width: 100%;
    height: 100%;

}

.telesurv-container {
    position: relative;
    width: 80%;
    height: 100%;
    left: 10vw;
    color: white;
    text-align: center;
    padding: 2vw;


}

.telesurv-title {
    font-size: 4vw;
    font-family: WorkSansSB;

}

.diapo-sentence {
    position: relative;
    left: 7vw;
    margin-top: 1vw;
    width: 50vw;
    text-align: left;
}

.second-sentence {
    font-size: 3vw;
    font-weight: 800;
}


.button-container {

    position: relative;
    top: 6.5vw;
}

.button-container>.demande-devis {
    position: relative;
    left: 1.5vw;


    width: 17.5vw;
    height: 5vw;
    font-size: 1.5vw;
    font-weight: 800;
}