{% include 'base.html.twig' %}


{% block stylesheets %}

	<link rel="stylesheet" href="css/home.css">

{% endblock %}

{% block body %}

	<div class="carousel-container">
		<div class="carousel-opacity">

			<div class="telesurv-container">
				<h1 class="telesurv-title">TÉLÉSURVEILLANCE 24H/24 7J/7


				</h1>
			</div>
		</div>


	</div>
{% endblock %}
